:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.profile-pic-container {
  background-image: url(images/profile-pic-cat.jpg);
  background-position: center;
  background-size: cover;
  margin: 20px;
  width: 300px;
  width: clamp(250px, 70%, 400px);
  height: 400px;
  display: flex;
  align-items: end;
  justify-content: center;
  float: left;
  box-shadow: rgba(0, 0, 0, 0.44) 0px 3px 8px;
}

.profile-pic-container .name {
  color: white;
  padding: 5px;
  font-size: 2rem;
  font-weight: bold;
}

.profile-pic {
  display: block;
  max-width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center;
}

.about-me {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.44) 0px 3px 8px;
}

.about-me .title {
  font-size: 3rem;
  text-align: center;
}

.about-me .description {
  font-size: 1.4rem;
}

.github-logo,
.linkedin-logo,
.twitter-logo {
  width: 50px;
  height: 50px;
}

.triple-logos {
  text-align: center;
}

.contact-me {
  background-color: #0891b2;
  padding: 40px 30px;
}

.contact-me .description {
  font-size: 1.8rem;
}

.contact-me .title-and-contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  color: white;
  flex-grow: 1;
}

.contact-me .title {
  font-size: 3rem;
  text-align: center;
}

.contact-me .contact-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-me p {
  font-size: 1.2rem;
}

.cat-pic-outside img {
  display: block;
  max-width: 100%;
  min-height: 500px;
  object-fit: cover;
  object-position: center;
}

.contact-me .cat-pic {
  display: none;
}

main h1 {
  font-size: 3rem;
  text-align: center;
}

.project-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 40px;
  row-gap: 80px;
  padding: 20px 20px 60px;
}

.project-card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.project-card img {
  background-color: red;
  width: 100%;
  height: 250px;
  display: block;
}

.project-card .name-and-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.project-card .project-name {
  font-size: 1.5rem;
}

.project-card .project-description {
  padding: 10px 20px 50px;
}

.project-card .github-logo,
.project-card .external-link-logo {
  width: 30px;
  height: 30px;
}

@media (min-width: 550px) {
  header,
  main {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 768px) {
  header {
    position: relative;
    display: block;
  }
  .profile-pic-container {
    width: 280px;
    height: 300px;
    margin-left: 40px;
    margin-top: -30px;
    margin-bottom: 0;
  }
  .about-me {
    display: block;
    margin-left: 60px;
    margin-right: 50px;
    margin-top: 60px;
  }
  .about-me .title {
    padding-bottom: 10px;
  }
  .about-me .description {
    padding-bottom: 10px;
  }
  .about-me .triple-logos {
    text-align: end;
  }
  .contact-me {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }
  .contact-me .title {
    text-align: start;
  }
  .contact-me .triple-logos {
    text-align: start;
  }
  .contact-me .cat-pic {
    display: block;
  }
  .contact-me .cat-pic img {
    height: 500px;
    width: 400px;
    object-fit: cover;
    object-position: center;
  }
  .cat-pic-outside {
    display: none;
  }
}

@media (min-width: 1200px) {
  header {
    padding-bottom: 120px;
  }
  .profile-pic-container {
    width: 400px;
    height: 400px;
    margin-top: -70px;
  }
  .about-me {
    margin-top: 100px;
  }
  .contact-me {
    padding: 40px 80px;
  }
  .contact-me .title {
    font-size: 4rem;
  }
  .contact-me .description {
    font-size: 2.2rem;
  }
  .contact-me .street,
  .contact-me .address,
  .contact-me .phone-number,
  .contact-me .email {
    font-size: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .contact-me {
    padding: 40px 120px;
  }
}
